<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tinderSwipe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>735C6F9A1CE99BD600431D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>735C6FAE1CE99BD600431D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>735C6FB91CE99BD600431D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
